.about_us_first_container {
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
  // display: flex;
  // flex-direction: column;
  color: white;
}
.aboutus_container {
  width: 100%;
}
.second_content {
  width: 700px;
}
.about_us_second_container {
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
  // display: flex;
  // flex-direction: column;
  color: white;
}

.why_us_second_content {
    width: 700px;
    flex
}
.why_us_wrap_wrapper {
    width: 300px;

}