.dflex{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  color: white;
    background-color:black;
margin-left: ;gi
    .smmtext{
        
        h1{
            font-size: 60px;
            width: 400px;
            
        }
        p{
            width:400px;
            font-size: 20px;
        }
    }
}
