.aboutAccordion {
    widtH: 100%;
    height: 100vh;
    padding: 5rem;
    display: flex;
    background-color: black;
}
.aboutAccordion__image_section {
    width: 50%;
    img {
        width: 100%;
        height: 100%;
    }
}
.accordion {
    background-color: transparent !important;
}
.aboutAccordion_accordion {
    width: 50%;
    margin-left: 10rem;
}
.accordion-header {
    color: black !
}