.portfolioFiltered {

}
.portfolioFiltered_button {

}
.portfolioFiltered_button_container {
  display: flex;
  color: white;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0;
}