.portfolioFiltered {

}
.portfolioFiltered_button {

}
.portfolioFiltered_button_container {
  display: flex;
  
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto 0;
}