.portfolioFiltered {

}
.portfolioFiltered_button {

}
.portfolioFiltered_button_container {
  display: flex;
  color: white;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}
.portfolio_filtered_portfolio-gallery {
  
}