.haveProject {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  color: white;

  form {
    .haveProject_form_content {
      display: flex;

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.have_project_second_project {
}

.have_project_first_project {
  color: gray;
  font-size: 25px;
  margin-bottom: 15rem;
}

.haveProject_container {
}

.haveProject {
  h1 {
    font-size: 35px !;
    color: white;
  }
}
